
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
::placeholder{
  color: black;
}
.font-face-gm {
  font-family: "almoni-neue-medium-aaa";
 }
 .regular{
   font-family:"almoni-neue-regular-aaa" ;
 }
input {
  font-family: "almoni-neue-medium-aaa";
  font-size: 18px ;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 207px;
  height: 20px;
  -webkit-box-shadow:inset 0 0 10px #000;
     -moz-box-shadow:inset 0 0 10px #000;
     box-shadow: inset 0 11px 9px -7px rgba(0,0,0,0.4);
border: transparent ;
  background: white;
}
.inputContainer{
  display: flex;
  flex-direction: column;
  gap:0.5rem;
  justify-content: center;
  align-items: center;
 margin:auto
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  width:320px ;
  height:693px;
  background: rgb(236,28,37);
  background: linear-gradient(90deg, rgb(238,28,37) 0%, rgb(238,28,37) 58%, rgba(213,22,34,1) 68%, rgb(143,2,19) 100%);
}
.header{
}
​
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
