body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "almoni-neue-medium-aaa";
  src: local("Almoni Neue DL4.0AAA"),
   url("./fonts/almoni-neue-medium-aaa.otf") format("truetype");
  font-weight: bold;
  }
@font-face {
  font-family: "almoni-neue-regular-aaa";
  src: local("Almoni Neue DL4.0AAA"),
   url("./fonts/almoni-neue-regular-aaa.otf") format("truetype");
  font-weight: bold;
  }
@font-face {
  font-family: "almoni-neue-bold-aaa";
  src: local("Almoni Neue DL4.0AAA"),
   url("./fonts/almoni-neue-bold-aaa.otf") format("truetype");
  font-weight: bold;
  }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
